@model LIQEX.Models.UserLoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div>
    @using (Html.BeginForm("Login", "Authentication", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-offset-4 col-md-4">
                <div style="background-image: url('../../Content/images/mgmtacctng.jpg');
                            background-size:cover;
                            padding: 40px;
                            max-width: 600px;
                            margin: 40px auto;
                            border-radius: 4px;
                            box-shadow: 0 6px 10px 4px;">
                    <center>
                        <h1 style="color:white;">TARELCO-I</h1>
                        <p>@Html.ValidationMessage("CredentialError", new { style = "color:red;" })</p>
                        <img src="~/Content/images/tarelco1.png" alt="avatar" class="logo img-responsive" width="80%" height="80%" style="border-radius:50%" />
                    </center>
                    <br />
                    <p>@Html.EditorFor(model => model.EmpId, new { htmlAttributes = new { @class = "form-control text-center", placeholder = "3-Digits Employee ID" }})</p>
                    <p>@Html.ValidationMessageFor(model => model.EmpId, "", new { @class = "text-danger" })</p>
                    <p>@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control text-center", placeholder = "Last 6-Digits of ATM Account No", type = "password" } })</p>
                    <p>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</p>
                    
                    <br />
                    <p class="text-center"><input type="submit" class="btn btn-danger" value="Proceed" /></p>
                </div>
            </div>
        </div>
    }
</div>

