@model LIQEX.Models.LoggedUserModel

@{
    var imgSrc = "";
    var base64 = "";

    base64 = Convert.ToBase64String(Model.Photo);
    imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
}

<img src="@imgSrc" alt="..." width="65" class="mr-3 img-thumbnail shadow-sm">
<h4 class="m-0" id="uname">@Model.EmployeeId - @Model.Name</h4>
<strong><p class="text-uppercase">Position</p></strong>
<p class="font-weight-light text-muted mb-0" id="uposition">@Model.Position</p>
<strong><p class="text-uppercase">Department</p></strong>
<p class="font-weight-light text-muted mb-0" id="udepartment">@Model.Department</p>
